/* estilos.css */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600');

html {
    height: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column; /* Esto permite que el main crezca */
    background-color: #fbfbfa; 
    color: #37352f;
    margin: 0;
}

/* El elemento main debe ocupar todo el espacio disponible */
main {
    flex: 1 0 auto;
}

/* El footer no debe encogerse */
footer {
    flex-shrink: 0;
}